@each $label, $color in iterate-colors() {
    .has-#{$label}-color {
        color: readable($color, get-color("background")) !important;
    }
}

@each $label, $color in iterate-colors() {
    .has-#{$label}-background {
        background: $color !important;
        color: foreground($color) !important;
    }
}
