.is-ltr {
    direction: ltr !important;
}

.is-rtl {
    direction: rtl !important;
}

.is-clearfix {
    @include clearfix;
}

.is-clipped {
    overflow: hidden !important;
}

.is-scrollable {
    overflow: hidden;
    overflow-y: auto;
    @include scrollbar(
        10px,
        palette("shade", "50"),
        palette("shade", "300"),
        get-color("primary")
    );
}

.is-unselectable {
    @include unselectable;
}

.is-selectable {
    @include selectable;
}

.is-locked {
    @include locked;
}

.is-radiusless {
    border-radius: 0 !important;
}

.is-rounded {
    border-radius: get-var("radius", "rounded") !important;
}

.is-circular {
    border-radius: get-var("radius", "circle") !important;
}

.is-left-floated {
    float: left !important;
}

.is-right-floated {
    float: right !important;
}

.is-marginless {
    margin: 0 !important;
}

.is-paddingless {
    padding: 0 !important;
}

$displays: block flex inline inline-block inline-flex;
@each $display in $displays {
    .is-#{$display} {
        display: $display !important;
    }

    @include mobile {
        .is-#{$display}-mobile {
            display: $display !important;
        }
    }

    @include tablet {
        .is-#{$display}-tablet {
            display: $display !important;
        }
    }

    @include tablet-only {
        .is-#{$display}-tablet-only {
            display: $display !important;
        }
    }

    @include until-desktop {
        .is-#{$display}-until-desktop {
            display: $display !important;
        }
    }

    @include desktop {
        .is-#{$display}-desktop {
            display: $display !important;
        }
    }

    @include desktop-only {
        .is-#{$display}-desktop-only {
            display: $display !important;
        }
    }

    @include until-widescreen {
        .is-#{$display}-until-widescreen {
            display: $display !important;
        }
    }

    @include widescreen {
        .is-#{$display}-widescreen {
            display: $display !important;
        }
    }

    @include widescreen-only {
        .is-#{$display}-widescreen-only {
            display: $display !important;
        }
    }

    @include until-fullhd {
        .is-#{$display}-until-fullhd {
            display: $display !important;
        }
    }

    @include fullhd {
        .is-#{$display}-fullhd {
            display: $display !important;
        }
    }
}
