h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 1rem;
}

h1 {
    font-size: get-font-size("huge");
}

h2 {
    font-size: get-font-size("big");
}

h3 {
    font-size: get-font-size("large");
}

h4 {
    font-size: get-font-size("medium");
}

h5 {
    font-size: get-font-size("normal");
}

h6 {
    font-size: get-font-size("small");
}
