img {
    &.is-centered {
        margin: auto;
    }

    &.has-radius {
        border-radius: get-var("radius", "normal");
    }

    &.is-rounded {
        border-radius: get-var("radius", "rounded");
    }

    &.is-circular {
        border-radius: get-var("radius", "circle");
    }

    @each $label, $size in iterate-font-sizes() {
        &.is-#{$label} {
            width: $size;
        }
    }
}
