.layout {
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    transition: filter get-var("transition", "duration");

    &:not(.is-simple) {
        @extend .is-scrollable;
    }

    &.has-modal {
        @extend .is-clipped;
        filter: grayscale(100%);
    }

    &.is-centered {
        display: flex;
        > * {
            margin: auto;
        }
    }
}
