/// make block element clearfix floating
/// @author m ekramy <m@ekramy.ir>
/// @group layout
/// @example @include clearfix();
@mixin clearfix() {
    &::after {
        clear: both;
        content: " ";
        display: table;
    }
}

/// make element unselectable
/// @author m ekramy <m@ekramy.ir>
/// @group layout
/// @example @include unselectable();
@mixin unselectable() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/// make element selectable by click on it
/// @author m ekramy <m@ekramy.ir>
/// @group layout
/// @example @include selectable();
@mixin selectable() {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

/// make element not re-actable
/// @author m ekramy <m@ekramy.ir>
/// @group layout
/// @example @include locked();
@mixin locked() {
    pointer-events: none;
    user-select: none;
}

/// Reset style of control
/// @author m ekramy <m@ekramy.ir>
/// @group layout
/// @example @include control();
@mixin control() {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    vertical-align: middle;
    outline: 0;
    // States
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
        outline: none;
    }

    &[disabled],
    &.is-disabled {
        cursor: default;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

/// generate unified parent selector
/// @author m ekramy <m@ekramy.ir>
/// @access public
/// @group selector
/// @param {string} $child child of parent
/// @example @include unify-parent(.sidebar){ ...
@mixin unify-parent($child) {
    @at-root #{selector-unify(&, $child)} {
        @content;
    }
}
